@import '~src/variables';

#tab .state-annule {
  background: $palette-color-two;
}

#tab .state-option {
  background: $palette-color-three;
}

#tab .state-confirme {
  background: $palette-color-four;
}

.table-striped tbody > *:nth-of-type(odd) tr {
  background: darken($light-color, 15);
}

tbody > * {
  display: contents;
}
