@import '~src/variables';

#tab .state-annule,
#tab .state-inactif {
  background: $palette-color-two;
}

#tab .state-option {
  background: $palette-color-three;
}

#tab .state-confirme,
#tab .state-actif {
  background: $palette-color-four;
}

.table-striped tbody > *:nth-of-type(odd) tr {
  background: darken($light-color, 15);
}

tbody > * {
  display: contents;
}

app-page-prestations thead {
  background-color: $dark-color;
  color: $light-color;
}
